{% extends "main.html" %}

{% block content %}
<form method="POST">
    <div class="form-group">
        <label>Title</label>
        <input class="form-control" name="title">
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" name="description"></textarea>
    </div>
    <div class="form-group">
        <label>Color</label>
        <select class="form-control" name="color">
            <option value="danger">Red</option>
            <option value="success">Green</option>
            <option value="primary">Blue</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}